* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color:#7FFFD4 ;
    z-index: 1;
}

#input{
    height: 80px;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
}

#title, #options{
    height: 100%;
    display: flex;
}

#title img{
    padding: 10px;
}

#title h1{
    line-height: 80px;
}

#play, #difficulty, #options label{
    padding: 0 15px;
    margin: 30px 30px 30px 0;
}

#playground{
    position: relative;
}


#griglia {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    cursor: pointer;
    z-index: 5;
}

#you-lose{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#you-lose h1{
    font-size: 50px;
    color: #ff0015;
}

#you-lose.lose{
    z-index: 999;
}

.cell {
    border: solid 2px #000;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bombfree.cellcolor {
    background-color:#22d9f1 ;
}

.boom.cellcolor{
    background-color:#ff0015 ;
}
.cellcolor {
    background-color:#7FFFD4 ;
}



